[submodule "deps/happly"]
	path = deps/happly
	url = https://github.com/nmwsharp/happly.git

[submodule "deps/geometry-central"]
	path = deps/geometry-central
	url = https://github.com/nmwsharp/geometry-central.git
